html {
  margin: 0%;
  padding: 0%;
}

body {
  margin: 0%;
  padding: 0%;
}

.has-same-height .card {
  height: 320px;
  overflow: hidden;
}

.card-content {
  display: flex;
  align-items: center;
}

.card-content h3 {
  text-align: center;
}

.table-profile td,
th {
  border: none !important;
}

.table-profile td:first-of-type {
  font-weight: bold;
}

.skills-content .media {
  margin: 0 !important;
  padding: 4px !important;
  border: 0 !important;
}

.skills-content .progress {
  height: 4px !important;
}

.custom-tags {
  text-align: center !important;
  display: block;
}

.section {
  margin-left: 3%;
  margin-right: 3%;
}

.section-heading {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 6em;
  text-transform: uppercase;
}

.socialLink {
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  color: white;
  font-size: 1.4em;
  margin-top: 50px;
}

.socialLink:hover {
  border-radius: 50%;
  padding: 10px;
  font-size: 1.4em;
  margin-top: 40px;
  border: 2px solid white;
  color: black;
  background-color: white;
  transition: all 0.6s ease 0s;
}

.socialLinkedin {
  margin-right: 8px;
}

.socialGithub {
  margin-left: 8px;
}

.socialLinkContact {
  border-radius: 50%;
  padding: 10px;
  font-size: 1.4em;
  margin-top: 50px;
  border: 2px solid rgb(47, 108, 143);
  color: rgb(47, 108, 143);
}

.socialLinkContact:hover {
  border-radius: 50%;
  padding: 10px;
  font-size: 1.4em;
  margin-top: 50px;
  color: white;
  border: 2px solid rgb(47, 108, 143);
  background-color: rgb(47, 108, 143);
  transition: all 0.6s ease 0s;
}

.socialLinksContactContainer {
  display: flex;
  justify-content: center;
}

h3 {
  color: rgb(1, 1, 1);
}

.navbar-end {
  margin-right: 8%;
}

.navbar-brand {
  margin-left: 5%;
  font-size: 1.5em
}

nav {
  padding-top: 8px;
}

.has-bg-img {
  background: url('images/Nashville_Ped_Bridge_Sm.jpg');
  background-size: cover;
}

.is-1 {
  color: white;
}

.is-3 {
  color: white;
}

#about {
  margin-top: 20px;
}

#picContainer {
  width: 80%;
  margin-top: 15px;
}

.subtitle {
  text-align: center;
}

#about-image {
  border-radius: 4px;
	-webkit-box-shadow: 0 8px 8px -6px rgb(0, 0, 0);
	-moz-box-shadow: 0 8px 8px -6px rgb(0, 0, 0);
  box-shadow: 0 8px 8px -6px rgb(0, 0, 0);
}

.about-pic {
  display: flex;
  align-items: center;
}

#about-box {
  border-radius: 2px;
  margin: 0 10% 0 10%;
}

.navbar-item:hover {
  color: lightgray !important;
}

#resumeAboutButtonContainer {
  text-align: center;
}

#resumeAboutButton {
  background-color: rgb(47, 108, 143);
  color: white;
  border-radius: 4px;
  width: 200px;
  height: 40px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease 0s;
}

#resumeAboutButton:hover {
  background-color: rgb(40, 92, 122);
  color: rgb(238, 238, 238);
}

.techStack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.logoText {
  margin-bottom: 2rem;
}

.logoDiv {
  align-items: center;
  text-align: center;
  word-wrap: break-word;
  transition: all 0.1s ease 0s
}

.logoDiv:hover {
  transform: translateY(-2px) translateX(1px);
  transition: all 0.2s ease 0s
}

.heroPicContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: -20px;
}

.headerPic {
  border: 7px solid rgb(34, 34, 34);
  -webkit-box-shadow:0 0 30px rgba(0, 0, 0, 0.55);
	-moz-box-shadow:0 0 30px rgba(0, 0, 0, 0.55);
	box-shadow:0 0 30px rgba(0, 0, 0, 0.55);
}

.headerFigure {
  width: 180px;
  height: auto;
}

.resumeResumeButtonContainer {
  text-align: center;
  margin-top: 50px;
}

.resumeResumeButton {
  background-color: rgb(47, 108, 143);
  color: white;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease 0s;
}

.resumeResumeButton:hover {
  background-color: rgb(40, 92, 122);
  color: rgb(238, 238, 238);
}

.resumeItem {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

.resumeItem:hover .resumeImage {
  transform: translateY(0px) translateX(50px);
  transition: all 0.8s ease 0s;
}

.resumeItem .resumeImage {
  transition: all 0.8s ease 0s;
}

.portfolioCard {
  border-radius: 4px;
	-webkit-box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
	-moz-box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
  box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
  transition: all 0.8s ease 0s;
}

.image-container {
  display: flex;
  align-items: center;
}

.tile {
  /* margin-top: 30px; */
  margin-bottom: 30px;
}

.portfolio-button {
  background: none;
	color: inherit;
	border: none;
	font: inherit;
	outline: inherit;
}

.card-header-title {
  text-align: center;
}

.contactIcon {
  color: rgb(47, 108, 143);
  border: 2px solid rgb(47, 108, 143);
  border-radius: 50%;
  padding: 10px;
}

.contactText {
  color: rgb(36, 36, 36);
  padding-top: 6px;
  font-size: 1.3em;
}

#contactEmail:hover {
  color: gray;
}

a:link {
  text-decoration: none !important;
}

#contactContainer {
  border-radius: 40px;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 800px) {

  #AboutContentContainer {
    text-align: left;
    line-height: 1.6;
    width: 90%;
    padding-top: 50px;
  }

  .about-div {
    padding: 0px 15px 20px 15px;
    /* border: 1px solid black; */
    background-color: #d6e2f5;
    border-radius: 3px;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  }

  .portfolioContainer {
    padding: 100px 50px 100px 50px;
    background-color: #648767;
    border-radius: 3px;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  }

}

@media screen and (max-width: 800px) {

  #picContainer {
    margin-top: 20px;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .logoText {
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
  }

  .section-heading {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 3em;
    text-transform: uppercase;
  }

  .section {
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  #resume {
    margin-top: -2em;
  }

}