.has-same-height .card {
  height: 320px;
  overflow: hidden;
}

.card-content h3 {
  text-align: center;
}

.table-profile td,
th {
  border: none !important;
}

.table-profile td:first-of-type {
  font-weight: bold;
}

.skills-content .media {
  margin: 0 !important;
  padding: 4px !important;
  border: 0 !important;
}

.skills-content .progress {
  height: 4px !important;
}

.custom-tags {
  text-align: center !important;
  display: block;
}

.portfolio-container .card {
  margin-bottom: 2em;
}

.section-heading {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 6em;
}

.navbar-end {
  margin-right: 8%;
}

.navbar-brand {
  margin-left: 5%;
  font-size: 1.5em
}

nav {
  padding-top: 8px;
}

.has-bg-img {
  background: url('../images/Nashville_Ped_Bridge.jpg');
  background-size: cover;
}

.is-1 {
  color: white;
}

.is-3 {
  color: white;
}

#AboutContentContainer {
  text-align: left;
  width: 80%;
  line-height: 1.6;
}

.profileContainer {
  display: flex;
  justify-content: center;
  width: 80%
}

.subtitle {
  text-align: center;
}

.summary {
  margin-top: 40px
}

.about-image-container {
  margin-right: 20px;
  /* border-radius: 5px; */
  height: 80%;
  width: auto;
}

#about-image {
  margin-top: 40px;
  border-radius: 4px;
	-webkit-box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
	-moz-box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
  box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
  
  /* -webkit-box-shadow: 0 3px 2px #777;
	-moz-box-shadow: 0 3px 2px #777;
	box-shadow: 0 3px 5px #777; */
}

.about-card {
  border-radius: 2px;
}

#navbar-item:hover {
  color: lightgray;
}